html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 70%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: hsl(185deg, 41%, 84%);
  font-family: "Space Mono", monospace;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main {
  width: 100%;
  padding: 3rem;
}
body .main .main__image {
  width: 100%;
  height: 15rem;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: red;
}
body .main .main__card {
  background-color: white;
  width: 100%;
  max-width: 65rem;
  margin: 0 auto;
  border-radius: 1.5rem;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
body .main .main__card .main__container-buttons {
  margin-bottom: 2rem;
}
body .main .main__card .main__keyboard {
  flex: 1 1 0;
  padding-right: 1.5rem;
  min-width: 20rem;
}
body .main .main__card .main__display {
  flex: 1 1 0;
  padding: 1.5rem;
  background-color: hsl(183deg, 100%, 15%);
  border-radius: 1rem;
}
body .main .main__card .main__display .main__container-display {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
}
body .main .main__card .main__display .main__container-display .main__container-amount,
body .main .main__card .main__display .main__container-display .main__container-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
body .main .main__card .main__display .main__container-display .main__container-amount .main__amount,
body .main .main__card .main__display .main__container-display .main__container-amount .main__total,
body .main .main__card .main__display .main__container-display .main__container-total .main__amount,
body .main .main__card .main__display .main__container-display .main__container-total .main__total {
  margin: 0;
}
body .main .main__card .main__display .main__container-display .main__container-amount .main__amount p:nth-child(1),
body .main .main__card .main__display .main__container-display .main__container-amount .main__total p:nth-child(1),
body .main .main__card .main__display .main__container-display .main__container-total .main__amount p:nth-child(1),
body .main .main__card .main__display .main__container-display .main__container-total .main__total p:nth-child(1) {
  color: white;
  padding: 0;
  margin: 0;
}
body .main .main__card .main__display .main__container-display .main__container-amount .main__amount p:nth-child(2),
body .main .main__card .main__display .main__container-display .main__container-amount .main__total p:nth-child(2),
body .main .main__card .main__display .main__container-display .main__container-total .main__amount p:nth-child(2),
body .main .main__card .main__display .main__container-display .main__container-total .main__total p:nth-child(2) {
  color: hsl(184deg, 14%, 56%);
  padding: 0;
  margin: 0;
}
body .main .main__card .main__display .main__container-display .main__container-amount .main__result,
body .main .main__card .main__display .main__container-display .main__container-total .main__result {
  color: hsl(172deg, 67%, 45%);
  font-size: 3.5rem;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}
body .main .main__card .main__button-reset {
  width: 100%;
  display: block;
  background-color: hsl(172deg, 67%, 45%);
  border-radius: 0.2rem;
  border: 0;
  padding: 0.8rem;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  color: hsl(186deg, 14%, 43%);
}
body .main .main__card .main__button-reset:hover {
  background-color: hsl(185deg, 41%, 84%);
}
body .main .main__container-label {
  display: flex;
  justify-content: space-between;
}
body .main .main__label {
  font-size: 1.1rem;
  color: hsl(186deg, 14%, 43%);
  font-weight: bold;
  display: block;
  margin-bottom: 1rem;
}
body .main .main__label--red {
  color: red;
  visibility: hidden;
}
body .main .main__container-input {
  position: relative;
}
body .main .main__container-input .main__input {
  width: 100%;
  display: block;
  border-radius: 0.5rem;
  height: 3rem;
  text-align: right;
  padding: 1rem;
  margin-bottom: 2.5rem;
  border: 2px solid hsl(189deg, 41%, 97%);
  background-color: hsl(189deg, 41%, 97%);
  color: hsl(183deg, 100%, 15%);
  font-weight: bold;
}
body .main .main__container-input .main__input:focus {
  border: 2px solid hsl(172deg, 67%, 45%);
  outline: none;
}
body .main .main__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body .main .main__buttons .main__button {
  background-color: hsl(183deg, 100%, 15%);
  display: block;
  color: white;
  width: calc(33.3% - 0.5rem);
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  font-weight: bold;
}
body .main .main__buttons .main__button:hover {
  background-color: hsl(185deg, 41%, 84%);
  color: hsl(183deg, 100%, 15%);
}
body .main .main__buttons .main__input-custom {
  display: block;
  color: hsl(183deg, 100%, 15%);
  width: calc(33.3% - 0.5rem);
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  text-align: right;
  border: 2px solid hsl(189deg, 41%, 97%);
  background-color: hsl(189deg, 41%, 97%);
  border-radius: 0.5rem;
  outline: none;
}
body .main .main__buttons .main__input-custom::placeholder {
  text-align: center;
}
body .main .main__buttons .main__input-custom:focus {
  border: 2px solid hsl(172deg, 67%, 45%);
  outline: none;
}

.fas {
  position: absolute;
  top: 35%;
  left: 1rem;
  color: hsl(186deg, 14%, 43%);
}

.disabled {
  background-color: hsl(184deg, 14%, 56%) !important;
  color: hsl(186deg, 14%, 43%);
}

@media (max-width: 529px) {
  .main .main__image {
    width: 100%;
    height: 10rem;
    background-image: url(/images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-top: 15rem;
  }
}
input {
  font-family: "Space Mono", monospace;
}

/*# sourceMappingURL=style.css.map */
