// Colors

// Primary

$Strong_cyan: hsl(172, 67%, 45%);

// ### Neutral

$Very_dark_cyan: hsl(183, 100%, 15%);
$Dark_grayish_cyan: hsl(186, 14%, 43%);
$Dark_grayish_cyan_two: hsl(184, 14%, 56%);
$Light_grayish_cyan: hsl(185, 41%, 84%);
$Light_grayish_cyan_two: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);

// ## Typography

$font_input_size: 24px;


// ### Font

$font_family:  'Space Mono', monospace;